# Игнорировать служебные и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Игнорировать окружение
.env
.venv/
env/

# Игнорировать личные конфиги VS Code
.vscode/

# Игнорировать данные пользователя
*.sqlite3
*.db

# Игнорировать файлы кэша
.cache/
